body{
    background-color: #083b4c;
}

#containerSquare{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

#container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.square{
    background-color: #1389b2;
    height: 50px;
    width: calc(92% / 9);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}